:root {
    --bgColor : #ededed;
    --fontColor: #3b3b3b;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}

* {
    font-family: sans-serif, Arial;
    box-sizing: border-box;
    color: var(--fontColor);
}


.🔝 {
    text-align: center;    
    font-size: calc(2rem + 2vw);
    text-decoration: underline;
}

h1 {
    margin: 1% auto;   
}


.content {
    display: flex;
    justify-content: center;
    height: 70vh;
    flex-wrap: wrap;
    height: fit-content;
    flex-shrink: 2;
}


.settings {
    font-size: calc(2.4rem + 1vw);
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 6vh;
    font-weight: bolder;
    height: 100%;
    gap: 2vh;
}



.gridSizeDiv, label, #reset {
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
    text-decoration: none;
    color: var(--fontColor);
}


#GridSize, .button{
    border-radius: 12px;
    font-size: 1.2rem;
}


.gridCon {
    box-shadow: 5px 5px 10px black;
    aspect-ratio: 1;
    display: grid;
    width: min(50%, 100vw);
    height: max-content;
}


.color {
    background-color: black;
}

